/*
```css
:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}
*/
/*

font-family: 'Work Sans', sans-serif;
*/

body {
   background-color: #121214;
   height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.section-1-container {
    z-index: 0
}
.section-1-container, .section-2-container {
    height: 100vh;
    width: 50%;
}
.section-2-container > img {
    height: 100vh;
    width: 100%;
    
}

.logo{
    width: 450px;
    height: 250px;
}

.section-1-container > section > img {
    margin-left: 80px;
    margin-top: 10px;
} 

.text-content{
    margin-top: 50px;
    margin-left: 0px;
}
.section-1-container> .text-content > p{
    font-family: 'Work Sans', sans-serif;
    color: #E1E1E6;
    margin-top: 30px;
    font-size: 25px;
    opacity: 0;
    animation-name: lefttoright;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.section-1-container > .text-content > h2  {
    font-family: 'Work Sans', sans-serif;
    margin-top: 30px;
    color: #04D361;
    font-size: 45px;
    opacity: 0;
    animation-name: lefttoright;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.section-1-container > b {
    color: green;

}

#text {
    margin-top: 30px;
}

.email-form {
    margin-top: 30px;
    font-family: 'League Spartan', sans-serif;
    color: #A8A8A8
}

.email-form > p, input{
    font-size: 30px;
    margin-bottom: 12px;
    opacity: 0;
    animation-name: lefttoright;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.email-form {
    margin-top: 50px;
}




.email-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.email-form > .email-bar > input {
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 24px 12px;
    height: 40px;
    color: #A8A8A8;
    background-color: white;
    border: 1px solid black;
    background-size: contain;
    position: relative;
    z-index:1;
    border: none;

    opacity: 0;
    animation-name: lefttoright;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}

.email-form > .email-bar > button {
    background-color:#8257e5;
    border: none;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 24px 12px;
    height: 40px;
    display: flex;
    align-items: center;
    opacity: 0;
    animation-name: buttonsend;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


input:hover {
    border: 10px solid #04D361;
}

a {
    text-decoration: none;
    color: #8257e5;
}

.letmeread {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    animation-name: leftotoright;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.letmeread > #seta > img {
    width: 30px;
    height: 30px;
    margin-left: 0px;
    filter: invert(50%) sepia(68%) saturate(5545%) hue-rotate(238deg) brightness(92%) contrast(94%);

}

#phrase {
    margin-left: 0;
    opacity: 0;
    animation-name: lefttoright;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

#seta {
    margin-left: 0;
    opacity: 0;
    animation-name: buttonsend;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

  a {
    font-size: 30px;
    margin-bottom: 12px;
   }

   
/*Animação dos textos e input*/

@keyframes lefttoright {
    from {
        margin-left: 0;    
        opacity: 0;
   }
   to {
       margin-left: 80px;
       opacity: 1;
   }   
   
}

@keyframes buttonsend {
    from {
        opacity: 0;
   }
   to {

       opacity: 1;
   }   
   
}